header {
    background-color:#FFB4B0;
    text-decoration:none;
    border: 2px solid black;
    font-size: 1.2em;
}

header{
    width: 99%;
    padding: 3px;
    margin-bottom: 6px;
}

li{
    list-style: none;
    display: inline;

}
#actions *{
text-decoration: none;
list-style:none;
display: inline;
}


#left-side{
    background-color: #4DD7FA;
    border: 2px solid black;
    float: left;
    width: 29%;
    min-height: 675px;
    font-size: 1.40em;
}

#right-side{
    background-color: #FEFAC0;
    border: 2px solid black;
    float: right;
    width: 69%;
    min-height: 675px;
}

h2{
    color: #785616;
}

#song-length {

}

body {
    margin-top: 5%;
    margin-right: 15%;
    margin-bottom: 5%;
    margin-left: 15%;
}

#ckbx_colmn_left {
    display: block;
    float: left;
}

#ckbx_colmn_right {
    display: block;
}

.button-div {
/*background-color: chartreuse*/;

}

#input_bx {
    display: block;
    margin-top: 6em;
    margin-right: 0em;
    margin-bottom: 6em;
    margin-left: 19em;
 /*   float: right;*/
   /* background-color: chartreuse;*/
    width: 99%;
}

#input_sel {
    font-size: 1.5em;
    display: block;
    padding: .5em;
    margin: 2em;
    width: 20px;
    height: 50px;
}

p {
    text-align: left;
    margin-top: 30px;
    margin-bottom: 4px;
    padding-left: 5px;
}
.button {
    width: 125px;
    height: 35px;
    font-size: 1em;
    border-radius: 10px;
    border: solid black .1px;
    margin: 10px auto;
    display: block;
}
